%ul.list-group
	- @movie.comments.each do |comment|
		%li.list-group-item
			= comment.user.name if comment.user
			%br/
			= comment.content
			%br/
			= link_to 'Delete comment', "/movies/#{@movie.id}/comments/#{comment.id}", method: :delete if current_user and comment.user and current_user.id == comment.user.id
